/*--Author: cafe
	Author URL: http://cafe.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
 --*/
/*-- Reset Code --*/
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Lato', sans-serif;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}

body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
	outline: none;
}

input[type="button"], input[type="submit"], button.btn {
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}

.text-center {
	text-align: center;
}

/*-- //Reset-Code --*/
p {
	margin: 0;
	font-family: 'Lato', sans-serif;
	line-height: 2;
	font-size: 1em;
	color: #888;
}

ul {
	list-style-type: none;
}

/*-- header styling starts here --*/
.siteits_main {
	background: url(../images/cheesecake.jpg) no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

/*-- banner --*/
.jarallax {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.banner_text_keyafe {
	text-align: center;
	padding: 16.5em 0;
}

.banner_text_keyafe h3 {
	color: #e772e9;
	font-size: 3em;
	margin: 0;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.banner_text_keyafe p {
	color: #1c032e;
	font-size: 1.8em;
	margin: 2.5em 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 500;
}

.custom-button a {
	color: #fff;
	padding: 0.8em 2em;
	text-decoration: none;
	margin: 0;
	font-size: 1em;
	border: 2px solid#F42AF8;
	background-color: #F42AF8;
	font-weight: 700;
	text-transform: uppercase;
}

.custom-button a:hover {
	color: #F42AF8;
	border-color: #FFf;
	background-color: #FFF;

}

.custom-button {
	position: relative;
	margin: 0;
	padding: 1em;
	z-index: 1;
}

/*--slider--*/
#slider2,
#slider3 {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}

.rslides_tabs li:first-child {
	margin-left: 0;
}

.rslides_tabs .rslides_here a {
	background: rgba(255, 255, 255, .1);
	color: #fff;
	font-weight: bold;
}

.events {
	list-style: none;
}

.callbacks_container {
	position: relative;
	float: left;
	width: 100%;
}

.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.callbacks li {
	position: absolute;
	width: 100%;
}

.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}

.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	bottom: 50%;
	left: 0;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	width: 40px;
	height: 22px;
	background: transparent url(../images/a1.png) no-repeat;
}

.callbacks_nav:hover {
	opacity: 0.3;
}

.callbacks_nav.next {
	left: auto;
	background: transparent url(../images/a2.png) no-repeat;
	right: 0;
}

.callbacks_nav.prev {
	right: auto;
	background-position: left top;
	left: 0;
}

#slider3-pager a {
	display: inline-block;
}

#slider3-pager span {
	float: left;
}

#slider3-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}

#slider3-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}

#slider3-pager a {
	padding: 0;
}

#slider3-pager li {
	display: inline-block;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	height: auto;
	border: 0;
}

.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 90%;
	left: 48%;
	padding: 0;
	margin: 0;
	display: block;
	z-index: 999;
}

.slider-top span {
	font-weight: 600;
}

.callbacks_tabs li {
	display: none;
	margin: 0;
}

.callbacks_tabs a {
	visibility: hidden;
}

.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 10px;
	width: 10px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.14);
	border: 2px solid #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
}

.callbacks_here a:after {
	background: #ff5301;
	border: 2px solid #ff5301;
}

/*-- //slider --*/
.siteits-cafe-info img {
	width: 100%;
}

.modal-header h2 {
	color: #212121;
	font-size: 2em;
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

.modal-body p {
	margin: 1em 0 0 0;
	font-size: .875em;
	color: #999999;
	line-height: 1.8em;
}

.close {
	float: none;
}

/*-- //banner --*/
.custom-site-logo h1 a {
	font-size: 1em;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	padding: 1em;
	float: left;
	font-family: 'Redressed', cursive;
}

.custom-site-logo img {
	border-radius: 40%;
	width: 100px;
}

.keyafe-nav-right {
	float: right;
	line-height: 85px;
	margin-right: 5em;
}

ul.list-right li {
	list-style-type: none;
	display: inline-block;
}

ul.list-right.kfl li i {
	font-size: 1.5em;
	color: #F42AF8;
	padding: 0.5em;
}

ul.list-right.kfl {
	margin: 1em 3em 0 0em;
}

.list-right li span {
	color: #ffffff;
	font-size: 1em;
	font-weight: 600;
}

/* -- about --*/
.kfl-about {
	padding: 4em 0;
}

h3.siteits-title {
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 500;
	color: #F42AF8;
	margin-bottom: 1em;
	font-family: 'Redressed', cursive;
}

.siteits-aboutleft {
	background: url(../images/grouppic2.jpg) center no-repeat;
	background-size: contain;
	min-height: 413px;
}

h3.about-head {
	font-size: 1.3em;
	font-weight: 600;
	color: #000;
	line-height: 1.5;
}

.about-content1 h4 {
	font-size: 1.2em;
	color: #F42AF8;
	line-height: 1.5;
}

.siteits-aboutright {
	padding: 2em 1em;
	border: 1px solid #e2dcdc;
}

.site-about-top .siteits-aboutright {
	min-height: 413px;
}

.siteinfo-bottom {
	margin-top: 1em;
}

.about-content1 {
	padding: 2em 0 0;
}

.about-content1 p {
	color: #000;
	margin: 1em 0 0;
}

.siteits-aboutright.about-bottom, .siteits-aboutright.about-bottom1 {

	background-image: linear-gradient(to left, rgba(197, 101, 160, 0.418), rgb(225, 0, 255));
	width: 49.3%;
	margin-right: 1em;
	padding: 2em;
	opacity: 0.85;
}

.siteits-aboutright.about-bottom1 {
	margin-right: 0;
}

.about-bottom h4, .about-bottom1 h4 {
	color: #fff
}

/* -- //about --*/
/* -- //testimonials --*/

.site-media {
	width: 58%;
	padding: 0;
	/* height:auto; */
	background: white;
	color: #000;
	min-height: 455px;
	opacity: 0.7;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}

.site-media p{
	padding-top: 100px;
	color: #000;
	font-size: 3rem;
}

.caption {
	padding: 2.9em;
	width: 42%;
	text-align: center;
	background: rgba(255, 255, 255, 0.19);
}

section.slider {
	border: 2px solid #ffffff;
}

div#team, .kfl-about.sponsors {
	background: url(../images/8.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

#team .custom-site-title, #services .custom-site-title {
	float: right;
}

#team .custom-site-title-pos {
	right: 50px;
}

#services .custom-site-title-pos {
	right: 100px;
}

#services h3.siteits-title {
	color: rgb(0, 0, 0);
}

#team .custom-site-title p, #services .custom-site-title p, .sponsors .custom-site-title p {
	color: rgba(232, 232, 232, 0.2);
}

/* -- //testimonials --*/
/*-- gallery --*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #ffffff;
	cursor: default;
	background: #F42AF8;
	border: solid 2px #F42AF8;
}

.nav-tabs>li>a {
	margin-right: 3px;
	font-size: 1em;
	color: #212121;
	border: solid 2px #F42AF8;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-moz-border-radius: 0px;
	padding: .5em 1em;
	text-transform: capitalize;
}

.nav-tabs>li>a:focus {
	background: transparent;
}

.nav-tabs {
	border-bottom: none;
	margin: 0 auto 3em;
	width: 100%;
	text-align: center;
}

.nav-tabs>li {
	margin: 0 10px 0 0;
}

.nav-tabs>li>a:hover {
	color: #FFFFFF;
	background: #F42AF8;
	border: solid 2px #F42AF8;
}

.kf_tab_img_left {
	padding: 0;
}

.site-gallery-info {
	padding: 1em;
	background: #ffffff;
}

.site-gallery-info h5 {
	color: #000000;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 4px;
	margin: 0;
}

.site-gallery-info p {
	color: #999999;
	font-size: .9em;
	line-height: 1.8em;
	margin: .5em 0 0 0;
}

.site-gallery-info {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.kf_tab_img_left:hover .site-gallery-info {
	background: #F42AF8;
	color: #FFFFFF;
}

.kf_tab_img_left:hover .site-gallery-info p {
	color: #FFFFFF;
}

/*-- //gallery --*/
/*-- service --*/
div#services {
	/* background: #F42AF8; */
	background-image: linear-gradient(to left, rgba(197, 101, 160, 0.418), rgb(225, 0, 255));

}

.custom-site-title {
	position: relative;
}

.custom-site-title p {
	font-size: 4em;
	color: #e8e8e8;
	font-weight: 600;
}

.custom-site-title-pos {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.service {
	padding: 5em 0 0;
}

.kfls_service_left_grid {
	width: 80px;
	height: 80px;
	background: #f5f5f5;
	border-radius: 100px;
	text-align: center;
	border: 3px double #999;
}

.siteinfo_service_left {
	background: url(../images/s.jpg) center no-repeat;
	min-height: 256px;
	background-size: contain;
}

.kfls_service_left_grid i {
	font-size: 1.5em;
	color: #212121;
	line-height: 3.5em;
}

.siteits_service_right h4 {
	font-size: 1.5em;
	color: #212121;
	margin-bottom: 1em;
	text-transform: capitalize;
}

.siteits_service_right p {
	color: #fff;
	line-height: 2em;
}

.kfl_service_right_grid, .siteinfo_service_right {
	padding: 0;
}

.siteits_service_right {
	padding-left: 0;
}

.kf_service_right_grid_main {
	margin-top: 2em;
}

.kfls_service_left_grid {
	width: 80px;
	height: 80px;
	background: #f5f5f5;
	border-radius: 100px;
	text-align: center;
	border: 3px double #999;
}

/* Rectangle Out */
.hvr-rectangle-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	background: #e1e1e1;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	border-radius: 100px;
}

.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
	color: white;
}

.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before, .kf_service_right_grid_main:hover .hvr-rectangle-out:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*-- //service --*/
/*-- timing --*/
.timing {
	background: url(../images/mountaincake.jpg) no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-attachment: fixed;
}

.site_timing_left {
	background: url(../images/takeawayillustration.jpg) no-repeat center;
	min-height: 379px;
}

.site_timing_right {
	padding: 3.8em;
	background: rgba(27, 33, 16, 0.67);
	min-height: 379px;
}

.site_timing_right a {
	color: #F42AF8;
	text-decoration: none;
	display: block;
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-size: 1em;
	line-height: 2em;
}

.site_timing_right a:hover {
	color: #fff;
}

.site_timing_right h4 {
	margin: 1em 0;
	color: #fff;
	font-size: 1em;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 600;
}

.site_timing_right ul li {
	list-style-type: none;
	margin-bottom: 1em;
	color: #fff;
}

li.wthree-time-title {
	background: #F42AF8;
	padding: 0.2em 1em;
	display: inline-block;
}

.site_timing_right ul li span {
	width: 25%;
	display: inline-block;
}

.site_timing_right ul li:last-child {
	margin-bottom: 0;
}

.site_timing_right p a:hover {
	color: #212121;
}

/*-- //timing --*/
/*-- contact --*/
.kfls-contact {
	background: #fff;
}

.siteinfo-contactleft h3 {
	color: #000;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 900;
	text-transform: uppercase;
}

.siteinfo-contactright h4 {
	color: #000;
	font-size: 2em;
	margin-bottom: 1em;
	text-transform: capitalize;
}

.siteinfo-contactright input[type="text"], .siteinfo-contactright input[type="email"] {
	font-size: 1em;
	border: 1px solid #F42AF8;
	background: #fff;
	outline: none;
	padding: 0.7em;
	width: 48.7%;
	margin-bottom: 1em;
	color: #000;
}

.siteinfo-contactright input[type="text"]:nth-child(1), .siteinfo-contactright input[type="email"] {
	margin-right: 2%;
}

.siteinfo-contactright textarea {
	width: 100%;
	padding: 0.7em;
	outline: none;
	resize: none;
	height: 100px;
	border: 1px solid #F42AF8;
	font-size: 1em;
	background: #fff;
	color: #000;
}

.siteinfo-contactright input[type="submit"] {
	background: #F42AF8;
	color: #000000;
	padding: .9em 1.8em;
	margin-top: 1.3em;
	border: 1px solid #F42AF8;
	outline: none;
	font-size: 0.9em;
}

.siteinfo-contactright input[type="submit"]:hover {
	background: transparent;
	color: #F42AF8;
	border: 1px solid #F42AF8;
}

.siteinfo-contactright, .siteinfo-contactleft {
	padding: 3em;
}

.siteinfo-contactright {
	border-left: 1px solid #F42AF8;
}

.siteinfo-contactleft p {
	color: #000;
	letter-spacing: 2px;
	margin: 1em 0;
}

ul.wthree-address {
	list-style-type: none;
}

ul.wthree-address li {
	display: block;
	padding: 1em 0;
	color: #000;
	font-size: 1em;
}

ul.wthree-address li a {
	color: #000;
}

ul.wthree-address li a:hover {
	color: #000;
}

ul.wthree-address li i {
	color: #F42AF8 !important;
	padding: 0 1em 0 0;
}

p.address {
	margin: 0;
	display: inline-block;
}

.siteinfo-social-grids li {
	display: inline;
	padding-right: 1.5em;
}

.siteinfo-social-grids li a {
	color: #F42AF8;
	font-size: 1em;
}

.siteinfo-social-grids li a:hover {
	color: #000;
}

.siteinfo-social-grids {
	padding: 1em 0;
}

/*-- //contact --*/
/*-- //footer --*/
.site-footer {
	background: url(../images/8.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	padding: 4em;
	border: 1px solid #777;
}

.site-footer ul li {
	display: inline-block;
	margin: 0 1em;
	text-transform: uppercase;
	font-weight: 600;
}

.site-footer ul li a {
	color: #000;
	background: #F42AF8;
	text-decoration: none;
	padding: 1em 2em;
	font-weight: 900;
}

.site-footer ul li a:hover {
	color: #212121;
}

.siteits_keyafe-map iframe {
	width: 100%;
	min-height: 400px;
}

.siteinfo-copyright {
	padding: 1.5em 0;
	background-image: linear-gradient(rgba(244, 42, 248, 0.8), rgba(166, 59, 180, 0.808), rgba(146, 114, 146, 0.884));
}

.siteinfo-copyright p {
	color: #fff;
	font-size: 1.1em;
	letter-spacing: 1px;
}

.siteinfo-copyright a {
	color: #fff;
}

.siteinfo-copyright a:hover {
	color: #000;
}

/*-- //footer --*/
.cafe-about, .wthreelocationsaits, .packages, .team, .testimonials, .blog, .contact {
	padding: 4em 0;
}

/*-- flex-slider --*/
.caption img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

.caption h4 {
	color: #fff;
	font-size: 1.5em;
}

.caption p {
	font-size: 1em;
	text-transform: capitalize;
	color: #fff;
	letter-spacing: 1px;
	margin: 0.8em 0;
}

#carousel li {
	margin-right: 0 !important;
	width: 107px !important;
}

#carousel img {
	display: block;
	opacity: .5;
	cursor: pointer;
}

#carousel img:hover {
	opacity: 1;
}

#carousel .flex-active-slide img {
	opacity: 1;
	cursor: default;
}

/*-- sponsers --*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}

.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}

.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}

.nbs-flexisel-inner {
	overflow: hidden;
}

.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}

.nbs-flexisel-item>img {

	cursor: pointer;
	position: relative;

	max-width: 300px;
	max-height: 100px;
}

/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 25px;
	height: 35px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top: -4px;
}

.nbs-flexisel-nav-left {
	background: url(../images/a2.png) no-repeat right;
	right: 0;
}

.nbs-flexisel-nav-right {
	background: url(../images/a1.png) no-repeat left;
}

.some-happy-clients-list {
	padding: 2em;
	background: rgba(27, 33, 16, 0.31);
}

.nbs-flexisel-item a {
	color: #fff;
}

/*-- sponsers --*/
/* -- Responsive code -- */
@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1080px) {
	.siteits-aboutleft {
		margin: 0 1em;
	}

	.siteits-aboutright {
		width: 31.8%;
	}

	.siteits-aboutright.about-bottom, .siteits-aboutright.about-bottom1 {
		width: 49.2%;
	}

	.siteinfo_service_left {
		min-height: 312px;
	}

	#contact .container, #team.container {
		width: 100%;
		padding: 0 10px;
	}

	.siteinfo-contactright input[type="text"]:nth-child(1), .siteinfo-contactright input[type="email"] {
		margin-right: 1.8%;
	}

	.site_timing_left {
		min-height: 385px;
	}

	.kfl-about.timing .container {
		width: 100%;
	}

	.site_timing_right {
		padding: 4em 3.4em;
	}

	.caption {
		padding: 0;
		width: 45%;
	}

	.site-media {
		width: 55%;
	}

	.caption p {
		margin: 0.2em 0 1.4em;
	}
}

@media screen and (max-width: 1050px) {
	.site_timing_right {
		padding: 4em 2em;
	}
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {
	.banner_text_keyafe h3 {
		letter-spacing: 5px;
	}

	.banner_text_keyafe {
		padding: 13.5em 0;
	}

	.keyafe-nav-right {
		margin-right: 2em;
	}

	#about .container, #team .container, #gallery .container {
		width: 90%;
	}

	.site-media {
		width: 61%;
	}
    .site-media p{
		padding-top: 50px;
		line-height: 50px;
		font-size: 2.25rem;
	}

	.caption {
		width: 39%;
	}
    
	.caption img{
		width: 200px;
		height: 200px;
	}

	.siteits-aboutright {
		width: 46%;
	}

	.siteits-aboutleft {
		min-height: 470px;
	}

	.siteits-aboutright.about-bottom, .siteits-aboutright.about-bottom1 {
		width: 49%;
	}

	#contact .container {
		width: 89%;
	}

	.siteinfo_service_left img {
		margin: 0 auto;
	}

	.kf_service_right_grid_main:nth-child(1) {
		margin-top: 2em;
	}

	.siteinfo_service_right {
		padding: 0 2em;
	}

	.siteits_service_left {
		width: 20%;
	}

	.siteinfo_service_left {
		margin-top: 2em;
	}

	.site_timing_left {
		width: 48%;
	}

	.site_timing_right {
		width: 52%;
	}

	.siteinfo-contactright {
		border-top: 1px solid #F42AF8;
		border-left: none;
	}
}

@media screen and (max-width: 900px) {
	.kfl-about {
		padding: 3em 0;
	}

	.siteits-aboutleft {
		min-height: 470px;
	}

	.site_timing_left, .site_timing_right {
		width: 50%;
	}

	.caption {
		width: 45%;
		min-height: 452px;
	}


    .site-media{
		width: 55%;
	}
    
	.site-media p{
		padding-top: 50px;
		line-height: 50px;
		font-size: 2.25rem;
	}

	#about .container {
		width: 90%;
	}

	.siteinfo-contactright input[type="text"], .siteinfo-contactright input[type="email"] {
		color: #000;
	}

	#about .container {
		width: 97%;
	}

	.flex-control-nav {
		right: 12%;
	}

	.site_timing_right ul li span {
		width: 30%;
	}
}

@media screen and (max-width: 800px) {
	.siteits-aboutleft {
		min-height: 496px;
	}

	.site-media, .caption {
		width: 100%;
	}

    

	.flex-viewport {
		max-height: 720px;
	}

	.flex-control-nav {
		right: 44%;
	}

	#gallery .container {
		width: 95%;
	}

	.site_timing_left, .site_timing_right {
		width: 100%;
		padding: 4em;
	}

	.kfl-about.timing .container {
		width: 85%;
	}
}

@media screen and (max-width: 768px) {
	.siteits-aboutright {
		width: 30.4%;
	}

	.siteits-aboutleft {
		min-height: 490px;
	}

	.about-content1 {
		padding: 1em 0 0;
	}

    .site-media{
		width: 50%;
	}
    
    .caption{
		width: 50%;
		min-height: 455px;
		padding-top: 100px;
	}

    .site-media p{
		padding-top: 100px;
		line-height: 50px;
		font-size: 2.25rem;
	}

	.siteits-aboutright {
		padding: 1em;
	}

	.banner_text_keyafe {
		padding: 10.5em 0;
	}

	.banner_text_keyafe h3 {
		letter-spacing: 4px;
	}

	.siteits-aboutright {
		padding: 2em;
		width: 100%;
	}

	.siteits-aboutleft {
		min-height: 370px;
		margin: 2em auto;
		width: 100%;
	}

	.siteits-aboutright.about-bottom, .siteits-aboutright.about-bottom1 {
		width: 49%;
	}
}

@media screen and (max-width: 736px) {
	.siteits-aboutright.about-bottom, .siteits-aboutright.about-bottom1 {
		width: 48%;
	}

	.banner_text_keyafe {
		padding: 5.5em 0;
	}

	.kf_tab_img_left {
		float: left;
		width: 50%;
	}
}

@media screen and (max-width: 667px) {
	.flex-viewport {
		max-height: 975px;
	}

	.site_timing_right {
		padding: 3em;
	}

	.siteits_cafe-map iframe {
		min-height: 330px;
	}

	.banner_text_keyafe h3 {
		font-size: 2.5em;
	}

	.kfl-about {
		padding: 2.5em 0;
	}
}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 600px) {
	.banner_text_keyafe h3 {
		letter-spacing: 3px;
	}

	.kfl-about.timing .container {
		width: 94%;
	}

	.siteinfo-contactright, .siteinfo-contactleft {
		padding: 3em 2em;
	}

	.caption img {
		width: 150px;
	}

	.siteits_service_right {
		padding-left: 2em;
	}
}

@media screen and (max-width: 568px) {
	.banner_text_keyafe h3 {
		letter-spacing: 1px;
	}

	.site_timing_right {
		padding: 3em 2em;
	}

	.siteinfo-contactright input[type="text"]:nth-child(1), .siteinfo-contactright input[type="email"] {
		margin-bottom: 1.5em;
		margin-right: 0;
	}

	.siteinfo-contactright input[type="text"], .siteinfo-contactright input[type="email"], .siteinfo-contactright input[type="submit"] {
		width: 100%;
	}

	.banner_text_keyafe p {
		font-size: 1.1em;
		letter-spacing: 0px;
	}
}

@media screen and (max-width: 480px) {
	.custom-site-logo h1 a {
		padding: 1em 1em 1em 0;
	}

	.banner_text_keyafe h3 {
		font-size: 2.1em;
	}

	.nav-tabs>li>a {
		padding: .5em 0.6em;
	}

	.flex-control-nav {
		bottom: 0;
		left: 41%;
		right: 0;
	}

	.site_timing_right ul li span {
		width: 34%;
	}

	.siteits_service_right {
		padding-left: 3em;
	}

}

@media screen and (max-width: 414px) {
	.keyafe-nav-right {
		clear: both;
		width: 100%;
		margin: 0 auto;
		line-height: 0;
	}

	.banner_text_keyafe {
		padding: 2em 0 3em;
	}

	ul.list-right li {
		margin: 0 0.5em;
	}

	ul.list-right.kfl {
		margin: 0;
	}

	.custom-site-logo h1 a {
		padding: 1em 0em 0em 0;
	}

	ul.list-right.kfl {
		margin: 1em auto;
		width: 60%;
	}

	.nav-tabs {
		margin: 0 auto 1.5em;
	}

	.siteits-aboutright.about-bottom, .siteits-aboutright.about-bottom1 {
		width: 100%;
	}

	.banner_text_keyafe h3 {
		font-size: 1.8em;
	}

	.siteits-aboutright.about-bottom, .siteits-aboutright.about-bottom1 {
		margin-right: 0;
	}

	.siteits-aboutright.about-bottom {
		margin-bottom: 1em;
	}

	#team .container {
		width: 100%;
	}

	.siteits_service_right {
		padding: 2em;
		text-align: center;
		width: 100%;
	}

	.siteits_service_left {
		text-align: center;
		width: 100%;
	}

	.siteits_service_right p {
		letter-spacing: 0.5px;
	}

	.kf_service_right_grid_main {
		margin-top: 1em;
	}

	.nav-tabs>li>a {
		padding: .5em 0.2em;
	}

	.nav-tabs>li {
		margin: 0 9px 0 0;
	}

	.site_timing_right ul li span {
		width: 44%;
	}

	.siteits_cafe-map iframe {
		min-height: 280px;
	}

	.siteinfo-copyright p {
		padding: 0 1em;
	}
}

@media screen and (max-width: 384px) {
	ul.list-right.kfl {
		width: 66%;
	}

	#gallery .container {
		width: 100%;
	}

	.nav-tabs>li {
		margin: 0 7px 0 0;
	}

	.banner_text_keyafe p {
		font-size: 0.9em;
	}

	.banner_text_keyafe h3 {
		font-size: 1.6em;
	}

	.banner_text_keyafe p {
		margin: 1em 0;
		letter-spacing: 0.5px;
	}

	h3.siteits-title {
		font-size: 2em;
	}
}

@media screen and (max-width: 375px) {
	ul.list-right.kfl {
		width: 68%;
	}

	.nav-tabs>li {
		margin: 0px 5px 0 0;
	}

	#contact .container {
		width: 100%;
	}

	.site_timing_right a {
		letter-spacing: 5px;
	}
}

@media screen and (max-width: 320px) {
	ul.list-right.kfl {
		width: 81%;
	}

	.nav-tabs>li>a {
		padding: .5em;
	}

	.nav-tabs>li {
		margin: 5px;
	}

	.site_timing_right a {
		letter-spacing: 2px;
	}

	.banner_text_keyafe h3 {
		height: 38px;
	}

	.kfl-about {
		padding: 2em 0;
	}

	.kfl-about.timing .container {
		width: 100%;
	}

	.site_timing_right {
		text-align: center;
	}

	.site_timing_right ul li span {
		width: 100%;
		margin-bottom: 1em;
	}

	.siteits_cafe-map iframe {
		min-height: 250px;
	}

	.kf_tab_img_left {
		float: none;
		width: 100%;
	}

	.callbacks_nav.next {
		right: -12px;
	}

	.banner_text_keyafe p {
		margin: 1em 0 2em;
	}

}

/* -- //Responsive code -- */